@addTagHelper *, LazZiya.TagHelpers
@model IEnumerable<spec1.Models.Harddata>


@using System.Globalization
@using LazZiya.TagHelpers.Utilities

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Index";
}

<h2>硬件基本信息列表</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Cpuname)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Maxmhz)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Nominal)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Enabled)
                </th>

                <th>
                @Html.DisplayNameFor(model => model.Orderable)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Cachel1)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.L2)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.L3)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Cacheother)
                </th>

                <th>
                @Html.DisplayNameFor(model => model.Memory)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Other)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Storage)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Htmlpath)
                </th>
                

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Cpuname)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Maxmhz)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Nominal)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                    </td>

                        <td>
                    @Html.DisplayFor(modelItem => item.Orderable)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Cachel1)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.L2)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.L3)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Cacheother)
                        </td>

                        <td>
                    @Html.DisplayFor(modelItem => item.Memory)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Other)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Storage)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Htmlpath)
                        </td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

<paging total-records="ViewBag.page.TotalRecords"
        page-no="ViewBag.page.P"
        page-size="ViewBag.page.S"
        show-prev-next="false"
        show-first-last="false"
        show-total-pages="false"
        show-total-records="false"
        show-page-size-nav="false"
        show-gap="false">
</paging>